<template name="Footer">
  <footer>
    <div class="ui three column grid container">
      <div class="column">
        Location
        <hr/>
        <div class="ui list">
          <div class="item">University of Hawaiʻi at Mānoa</div>
          <div class="item">1337 Lower Campus Road</div>
          <div class="item">Honolulu, HI 96822</div>
        </div>
      </div>

      <div class="column">
        Spring 2017 Hours of Operation
        <hr/>
        <div class="ui list">
          <div class="item">Weekdays</div>
          <div class="item">5:30 am - 10:30 pm</div>
          <div class="item">Weekends & Holidays</div>
          <div class="item">9:00 am - 5:30 pm</div>

        </div>
      </div>

      <div class="column">
        Connect With Us
        <hr/>
        <a href="mailto:rechi@hawaii.edu" class="item"><i class="circular inverted grey mail icon"></i></a>
        <a href="https://www.facebook.com/pages/Warrior-Recreation-Center/476447025789155?fref=ts" class="item"><i
            class="circular inverted grey facebook f icon"></i></a>
        <a href="https://www.instagram.com/explore/locations/250961239/warrior-recreation-center/?hl=en" class="item"><i
            class="circular inverted grey instagram icon"></i></a>

      </div>
    </div>
  </footer>
</template>