.ui.borderless.inverted.menu{
  background-color: #043304;
  margin: 0px;
  border-radius: 0px;
}

.ui.text.container {
  max-width: 455px !important;
  background-color: white;
}

body{
  background: url(https://manoa.hawaii.edu/studentrec/fitnesscenter/pics/DSC_WRC.JPG) no-repeat center;
  background-size: cover;
}